@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}

:root {
  --color-primary: #7297ff;
  --color-secondary: #a1abc9;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.wrapper.wrapper_form {
  background: url(bg.jpg);
  background-size: cover;
}
@media (min-width: 768px) {
  .wrapper.wrapper_form {
    flex-direction: row-reverse;
  }
}
.wrapper.wrapper_main {
  background: #e3ebff;
}

.ui-container {
  width: 100%;
  position: relative;
  flex: 1 1 568px;
  margin-top: 72px;
  background: #f9faff;
  border-radius: 24px 24px 0px 0px;
}
.ui-container.ui-container_form {
  padding: 32px;
}
@media (min-width: 768px) {
  .ui-container.ui-container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 96px;
    border-radius: 0;
    margin: 0;
    flex-grow: 0;
    flex-basis: 560px;
  }
}
@media (min-width: 1800px) {
  .ui-container.ui-container_form {
    padding-top: 152px;
  }
}
.ui-container.ui-container_doctor {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 48px 14px 16px;
  position: relative;
  min-width: 116px;
  height: 48px;
  margin-top: 32px;
  background: var(--color-primary);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  cursor: pointer;
  align-self: start;
  text-decoration: none;
}
@media (min-width: 768px) {
  .btn {
    margin-top: 40px;
    min-width: 138px;
    height: 56px;
    font-size: 17px;
    padding: 16px 56px 16px 24px;
  }
}
@media (min-width: 1800px) {
  .btn {
    position: relative;
    top: -78px;
  }
}
.btn__icon {
  position: absolute;
  right: 24.14px;
  bottom: 17.29px;
  fill: #fff;
}
@media (min-width: 768px) {
  .btn__icon {
    right: 32.14px;
    top: 21.34px;
    bottom: 21.29px;
  }
}
@media (min-width: 1800px) {
  .btn.form-container__form__submit-button_reset-button {
    top: -40px;
  }
}

.link {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: var(--color-primary);
}
.link.link_forgot-pass {
  font-weight: 500;
  line-height: 22px;
  margin-top: 32px;
}
@media (min-width: 1800px) {
  .link.link_forgot-pass {
    position: relative;
    top: -78px;
  }
}
.link.link_footer {
  font-weight: 600;
  line-height: 130%;
  padding: 3px 0;
}

.inp {
  height: 40px;
  width: 100%;
  padding: 9.5px 44px 9.5px 48px;
  background: none;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .inp {
    padding: 16px 60px 12px 64px;
  }
}
.inp::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: var(--color-secondary);
}
@media (min-width: 768px) {
  .inp::placeholder {
    font-size: 17px;
    line-height: 24px;
  }
}

.icon {
  position: absolute;
  left: 18px;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .icon {
    left: 26px;
  }
}
.icon path {
  fill: var(--color-secondary);
}
.icon_show-pass {
  left: unset;
  right: 15.99px;
  cursor: pointer;
}
.icon_title {
  transform: rotate(180deg);
  margin-right: 34.1px;
  position: relative;
  left: 10px;
}
.icon_show-pass:hover path, .icon_title:hover path {
  fill: var(--color-primary);
}

a:hover .icon_title path {
  fill: var(--color-primary);
}

.ui-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #202225;
}
@media (min-width: 768px) {
  .ui-title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 1800px) {
  .ui-title {
    position: relative;
    top: -78px;
  }
}
.ui-info {
  font-size: 15px;
  line-height: 130%;
  color: var(--color-secondary);
  margin: 24px 0;
}
@media (min-width: 768px) {
  .ui-info {
    margin: 32px 0 0;
  }
}
@media (min-width: 1800px) {
  .ui-info {
    position: relative;
    top: -78px;
  }
}
.ui-info a {
  color: var(--color-primary);
  text-decoration-line: underline;
  display: inline-block;
}

.ui-header {
  height: 72px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 13.6px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.user__info {
  text-align: right;
  display: none;
}
.user__info__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #202225;
}
.user__info__details {
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #a1abc9;
}
.user__avatar {
  display: flex;
  align-items: center;
  position: relative;
}
.user__avatar__photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar__status {
  width: 8px;
  height: 8px;
  background: #34c197;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e3ebff;
  position: absolute;
  top: 0;
  right: 0;
}
.user .status-mark {
  width: 8px;
  height: 8px;
  background: #34c197;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e3ebff;
  position: absolute;
  top: 0;
  right: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .auth-form {
    margin-bottom: 100px;
  }
}
@media (min-width: 1800px) {
  .auth-form {
    margin-bottom: 0;
  }
}

.auth-form__footer {
  position: absolute;
  bottom: 48px;
}
@media (min-width: 768px) {
  .auth-form__footer {
    display: flex;
    gap: 0 12px;
    bottom: 80px;
  }
}
@media (min-width: 1800px) {
  .auth-form__footer {
    bottom: 108px;
  }
}
.auth-form__footer__title {
  font-size: 15px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .auth-form__footer__title {
    width: 198px;
  }
}

.auth-form__inp-block {
  width: 100%;
}
.auth-form__inp-block__container {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  background: #ffffff;
  border: 1px solid #dce0ec;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .auth-form__inp-block__container {
    margin-top: 40px;
    height: 56px;
  }
}
@media (min-width: 1800px) {
  .auth-form__inp-block__container {
    position: relative;
    top: -78px;
  }
}
.auth-form__inp-block__container:focus-within {
  border-color: var(--color-primary) !important;
}
.auth-form__inp-block.auth-form__inp-block_invalid .auth-form__inp-block__container {
  border-color: #ff2567;
}
.auth-form__inp-block.auth-form__inp-block_invalid .auth-form__inp-block__invalid-message {
  display: flex;
}
.auth-form__inp-block__invalid-message {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  align-items: center;
  letter-spacing: -0.24px;
  color: #f6657f;
  margin-top: 17px;
  display: none;
}
@media (min-width: 768px) {
  .auth-form__inp-block__invalid-message {
    margin-top: 8px;
  }
}
@media (min-width: 1800px) {
  .auth-form__inp-block__invalid-message {
    position: relative;
    top: -78px;
  }
}

.segmented-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 40px;
}
.segmented-btn .btn {
  width: 120px;
  height: 40px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.segmented-btn .btn:not(.btn_active) {
  background: #FFFFFF;
  color: var(--color-primary);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  transition: 0.2s;
}
.toolbar__control {
  cursor: pointer;
}
.toolbar__control:hover path {
  fill: var(--color-primary);
}
.toolbar .ui-title {
  flex-grow: 2;
}

.no-patients {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.no-patients .ui-info {
  text-align: center;
}

.patients-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin-top: 16px;
}
.patients-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
  border-radius: 12px;
}
.patients-list__item .user {
  padding: 32px 24px 10px 24px;
  flex-direction: row-reverse;
  justify-content: left;
}
.patients-list__item .user__avatar {
  display: flex;
  align-items: center;
  position: relative;
}
.patients-list__item .user__avatar__photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.patients-list__item .user__info {
  display: block;
  text-align: left;
}
.patients-list__item .user__info__name {
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.patients-list__item .user__info__details {
  position: relative;
  display: flex;
  gap: 8px;
}
.patients-list__item .user__info__details .status-mark {
  width: 11px;
  position: relative;
  top: 4px;
  box-shadow: none;
}
.patients-list__item__more {
  position: relative;
  left: -10px;
  cursor: pointer;
}
.patients-list__item__horizontal-line {
  width: 100%;
  height: 1px;
  border: none;
  background: #dce0ec;
  margin-top: 16px;
}

/*# sourceMappingURL=style.css.map */
