@import "../../../assets/stylesheets/mixins.scss";

.cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #dce0ec;
    border-radius: 5px;
    height: 200px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c3c7d3;
    border-radius: 5px;
  }

  //   @include for-tablet {
  //     margin-top: 42px;
  //   }

    @include for-desktop {
      gap: 20px;
    }
}


