@import "../../../assets/stylesheets/mixins.scss";

.card {
  flex-basis: 100%;
  border-radius: 12px;
  background: #ffffff;

  @include for-desktop {
    flex: 0 1 calc(100% / 4 - 20px);
  }

  &__header,
  &__info {
    position: relative;
    padding: 24px 32px 40px;

    @include for-phone {
      padding: 24px;
    }
  }

  &__header {
    border-bottom: 1px solid #dce0ec;
    display: flex;
    align-items: center;
    gap: 16px;

    &__details {
      flex-grow: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 23px;

    &__time,
    &__details {
      display: flex;
      gap: 18px;
    }

    &__time {
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
    }

    &__details {
      font-size: 15px;
      line-height: 140%;
    }

    &__iconContainer {
      display: flex;
      justify-content: center;

      &__icon {
        width: 20px;

        path {
          fill: var(--color-secondary);
        }
      }
    }
  }
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &_active {
    background: #f9faff;
    border-radius: 6px;

    svg {
      path {
        stroke: #7297ff;
      }
    }
  }
}

.status {
  position: relative;
  box-shadow: none;
  flex-shrink: 0;
}
