@import "../../../assets/stylesheets/mixins.scss";

.ui-container_auth {
  @include for-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form {
    margin-top: 4px;
    gap: 24px;

    &__footer {
      position: absolute;
      bottom: 48px;

      @include for-tablet {
        display: flex;
        gap: 0 12px;
        bottom: 80px;
      }

      @include for-desktop {
        bottom: 79px;
      }

      &__title {
        font-size: 15px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: var(--color-secondary);
        margin-bottom: 1px;

        @include for-tablet {
          width: 198px;
        }
      }
    }

    .button {
      margin-top: 0;
    }

    .input {
      margin-top: 0;
    }

    > .nav-link {
      position: relative;
      top: -16px;
      margin-top: 8px;
    }

    @include for-tablet {
      gap: 40px;
      position: relative;
      top: -44px;
    }
  }
}
