@import "../../../assets/stylesheets/mixins.scss";

.user {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.info {
  &__name {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #202225;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__details {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    color: #a1abc9;

    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  position: relative;

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__status {
    width: 8px;
    height: 8px;
    background: #34c197;
    border-radius: 50%;
    box-shadow: 0 0 0 3px#e3ebff;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.status {
  width: 8px;
  height: 8px;
  background: #7297ff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px#e3ebff;
  position: absolute;
  top: 0;
  right: 0;

  &_active {
    background: #34c197;
  }

  &_error {
    background: #ff2567;
  }
}
