@import "../../../assets/stylesheets/mixins.scss";

.input {
  width: 100%;

  &__container {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: 1px solid #dce0ec;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;

    @include for-tablet {
      height: 56px;
    }

    &:focus-within {
      border-color: var(--color-primary);
    }

    &__icon {
      position: absolute;
      left: 18px;
      transition: 0.2s;
      cursor: text;

      @include for-tablet {
        left: 26px;
      }

      path {
        fill: var(--color-secondary);
      }

      &_right {
        left: unset;
        right: 15.99px;
        cursor: pointer;

        @include for-tablet {
          right: 24px;
        }
      }

      &_right:hover {
        path {
          fill: var(--color-primary);
        }
      }
    }

    label {
      width: 0;
      margin-left: -99999px;
    }

    &__input {
      height: 40px;
      width: 100%;
      padding: 0 60px 0 24px;
      background: none;
      border: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 17px;
      line-height: 140%;

      &:not(.input__container__input_text) {
        padding: 0 60px 0 64px;

        @include for-phone {
          padding: 9.5px 44px 9.5px 48px;
        }
      }

      @include for-phone {
        font-size: 15px;
      }

      &::placeholder {
        color: var(--color-secondary);
        font-size: 15px;

        @include for-tablet {
          line-height: 24px;
          font-size: 17px;
        }
      }
    }

    &__invalidMessage {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 120%;
      align-items: center;
      letter-spacing: -0.24px;
      color: #f6657f;
      margin-top: 17px;
      display: none;

      @include for-tablet {
        margin-top: 8px;
      }
    }
  }

  &_invalid {
    .input__container {
      border-color: #ff2567;

      &__invalidMessage {
        display: flex;
      }
    }
  }
}
