@import "../../../assets/stylesheets/mixins.scss";

.segmentedBtn {
  display: flex;
  justify-content: flex-start;
  gap: 12px;

  @include for-tablet {
    margin-bottom: 56px;
  }

  &__button {
    width: 120px;
    height: 40px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    &:not(.active) {
      background: #ffffff;
      color: var(--color-primary);
    }
  }
}
